@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 142 72% 29%;
    --primary-foreground: 0 0% 100%;

    --secondary: 142 72% 29%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 142 72% 29%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 142 72% 29%;
    --input: 214.3 31.8% 91.4%;
    --ring: 142 72% 29%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 142 72% 29%;

    --card: 0 0% 3%;
    --card-foreground: 142 72% 29%;

    --popover: 0 0% 3%;
    --popover-foreground: 142 72% 29%;

    --primary: 142 72% 29%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 7%;
    --secondary-foreground: 142 72% 29%;

    --muted: 0 0% 7%;
    --muted-foreground: 142 72% 20%;

    --accent: 142 72% 29%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 0%;

    --border: 142 72% 29%;
    --input: 0 0% 7%;
    --ring: 142 72% 29%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
